### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [83]:
# Dependencies and Setup
import pandas as pd
import os

# file paths
school_data_to_load = os.path.join("Resources", "schools_complete.csv")
student_data_to_load = os.path.join("Resources", "students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_and_student_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_and_student_data_complete.shape

(39170, 11)

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [236]:
# DISTRICT SUMMARY

# Get total school count
Total_Schools = school_data['school_name'].count()
# Option B: Total_Schools = school_data['school_name'].nunique()

# Get total student count
Total_Students = student_data['student_name'].count()

# Get total budget
Total_Budget = school_data['budget'].sum()

# Average Math Score
Av_Math_Score = student_data['math_score'].mean()

# Average Reading Score
Av_Reading_Score = student_data['reading_score'].mean()

# Math pass percentage 70 plus
Math70Plus_df = student_data[student_data.math_score>=70]
MathPassPercentage = ((Math70Plus_df['student_name'].count())/(student_data['student_name'].count()) * 100)

# Reading pass percentage 70 plus
Reading70Plus_df = student_data[student_data.reading_score>=70]
ReadingPassPercentage = ((Reading70Plus_df['student_name'].count())/(student_data['student_name'].count()) * 100)

# Pass percentage for Math and Reading
Both70Plus_df = student_data[(student_data.math_score>=70) & (student_data.reading_score>=70)]
BothPassPercentage = ((Both70Plus_df['student_name'].count())/(student_data['student_name'].count()) * 100)

# Create a district Summary data frame
list_for_df = {"Total_Schools": [Total_Schools], "Total_Students": [Total_Students], "Total_Budget": [Total_Budget], "Av_Math_Score": [Av_Math_Score], 
               "Av_Reading_Score": [Av_Reading_Score], "MathPass%": [MathPassPercentage], "ReadingPass%": [ReadingPassPercentage], "CombinedPass%": [BothPassPercentage]}

District_Summary_df = pd.DataFrame(list_for_df)
District_Summary_df.head()

,Total_Schools,Total_Students,Total_Budget,Av_Math_Score,Av_Reading_Score,MathPass%,ReadingPass%,CombinedPass%
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [41]:
Total_no_schools = school_and_student_data_complete.count

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [313]:
# SCHOOL SUMMARY

# Sort school data and create a dataset grouped by schools
sorted_school_data = school_data.sort_values('school_name')
school_group_grpby = school_and_student_data_complete.groupby('school_name')

# Get school name and type, no. of student budget and budget per student
school_name = (sorted_school_data['school_name'].unique())
school_type = (sorted_school_data['type'].tolist())
Total_Students = (sorted_school_data['size'].unique())
Total_School_Budget = (sorted_school_data['budget'].unique())
Per_Student_Budget = (((sorted_school_data['budget'])/(sorted_school_data['size'])).unique())

# Get mean reading and math scores
Av_School_math_score = school_group_grpby['math_score'].mean()
Av_School_read_score = school_group_grpby['reading_score'].mean()
school_group_grpby.count().head(15)

# students passing math broken down by school
All_schs_Math70plus = school_and_student_data_complete[school_and_student_data_complete.math_score>=70]
sch_grp_Math70plus_grpby = All_schs_Math70plus.groupby('school_name')
sch_grp_Math70plus_grpby.count().head(15)
sch_grp_Math70plus_grpby['math_score'].count()
school_group_grpby['math_score'].count()
MathPassPercentage_per_Sch = ((sch_grp_Math70plus_grpby['math_score'].count())/(school_group_grpby['math_score'].count()) * 100)
MathPassPercentage_per_Sch.shape

# students passing reading broken down by school
All_schs_Read70plus = school_and_student_data_complete[school_and_student_data_complete.reading_score>=70]
sch_grp_Read70plus_grpby = All_schs_Read70plus.groupby('school_name')
sch_grp_Read70plus_grpby.count().head(15)
sch_grp_Read70plus_grpby['reading_score'].count()
school_group_grpby['reading_score'].count()
ReadPassPercentage_per_Sch = ((sch_grp_Read70plus_grpby['reading_score'].count())/(school_group_grpby['reading_score'].count()) * 100)
ReadPassPercentage_per_Sch.shape

# students passing both math and reading broken down by school
All_schs_Both70plus = school_and_student_data_complete[(school_and_student_data_complete.math_score>=70) & (school_and_student_data_complete.reading_score>=70)]
sch_grp_Both70plus_grpby = All_schs_Both70plus.groupby('school_name')
sch_grp_Both70plus_grpby.count().head(15)
sch_grp_Both70plus_grpby['reading_score'].count()
school_group_grpby['reading_score'].count()
BothPassPercentage_per_Sch = ((sch_grp_Both70plus_grpby['reading_score'].count())/(school_group_grpby['reading_score'].count()) * 100)
BothPassPercentage_per_Sch.head(15)

# Creating a new data frame with School Summary
list2_for_df = {"School_type": (school_type), "School_name": (school_name), "Total_Students": (Total_Students), "School_Budget": (Total_School_Budget), 
                "Per_Student_Budget": (Per_Student_Budget), "Average_Math_Score": (Av_School_math_score), "Average_Reading_Score": (Av_School_read_score), 
                "Math_Pass%": (MathPassPercentage_per_Sch), "Reading_Pass%": (ReadPassPercentage_per_Sch), "Overall_Pass%": (BothPassPercentage_per_Sch)}

School_Summary_df = pd.DataFrame(list2_for_df)
School_Summary_df.head(15)

,School_type,School_name,Total_Students,School_Budget,Per_Student_Budget,Average_Math_Score,Average_Reading_Score,Math_Pass%,Reading_Pass%,Overall_Pass%
school_name,,,,,,,,,,
Bailey High School,District,Bailey High School,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,Cabrera High School,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,Figueroa High School,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,Ford High School,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,Griffin High School,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,Hernandez High School,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,Holden High School,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,Huang High School,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,Johnson High School,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,Pena High School,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,Rodriguez High School,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,Shelton High School,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,Thomas High School,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,Wilson High School,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,Wright High School,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [245]:
# Sort school summary data frame by overall pass % to see top performing schools
Top_performing_Schools_df = School_Summary_df.sort_values('Overall_Pass%', ascending = False)
Top_performing_Schools_df.head(5)

,School_type,School_name,Total_Students,School_Budget,Per_Student_Budget,Average_Math_Score,Average_Reading_Score,Math_Pass%,Reading_Pass%,Overall_Pass%
school_name,,,,,,,,,,
Cabrera High School,Charter,Cabrera High School,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,Thomas High School,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,Griffin High School,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,Wilson High School,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,Pena High School,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [244]:
# Sort school summary data frame by overall pass % to see top performing schools
Top_performing_Schools_df = School_Summary_df.sort_values('Overall_Pass%')
Top_performing_Schools_df.head(5)

,School_type,School_name,Total_Students,School_Budget,Per_Student_Budget,Average_Math_Score,Average_Reading_Score,Math_Pass%,Reading_Pass%,Overall_Pass%
school_name,,,,,,,,,,
Rodriguez High School,District,Rodriguez High School,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,Figueroa High School,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,Huang High School,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,Hernandez High School,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,Johnson High School,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [343]:


Mathlist_grade_sch = school_and_student_data_complete['math_score'].groupby([school_and_student_data_complete['school_name'], school_and_student_data_complete['grade']])
math_grade_sch_df = [Mathlist_grade_sch.mean().head(50)]
type(math_grade_sch_df)
math_grade_sch_df

# # Creating a new data frame with School Summary
# list3_for_df = {"School_name": (school_name), "9th Grade": (math_grade_sch_df(3)), "10th Grade": (math_grade_sch_df(3)), "11th Grade": (math_grade_sch_df(3)),
#                "12th Grade": (math_grade_sch_df(3))}

# Math_score_grade_df = pd.DataFrame(list3_for_df)
# Math_score_grade_df.head(15)
# ---------------------------------------------------------

# school_and_student_data_complete
# school_and_student_data_complete_grpby_grade = school_and_student_data_complete.groupby('school_name')
# school_and_student_data_complete_grpby_grade.count().head()
# By_grade_by_school = school_and_student_data_complete_grpby_grade.groupby('grade')
# By_grade_by_school.count().head(15)


# school_and_student_data_complete['grade'].value_counts()

# By_School_by_grade = school_and_student_data_complete[(school_and_student_data_complete["school_name"] == "Ford High School") & (school_and_student_data_complete["grade"] == "9th")]
# By_School_by_grade.count()

# # students passing both math and reading broken down by school and by grade
# By_grade_by_school = school_and_student_data_complete_grpby_grade.groupby('school_name')
# By_grade_by_school.count().head(15)

# All_schs_Math70plus = school_and_student_data_complete[school_and_student_data_complete.math_score>=70]

# df['Amount_K'] = df['Amount'] / 1000
# df.head()

[school_name            grade
 Bailey High School     10th     76.996772
                        11th     77.515588
                        12th     76.492218
                        9th      77.083676
 Cabrera High School    10th     83.154506
                        11th     82.765560
                        12th     83.277487
                        9th      83.094697
 Figueroa High School   10th     76.539974
                        11th     76.884344
                        12th     77.151369
                        9th      76.403037
 Ford High School       10th     77.672316
                        11th     76.918058
                        12th     76.179963
                        9th      77.361345
 Griffin High School    10th     84.229064
                        11th     83.842105
                        12th     83.356164
                        9th      82.044010
 Hernandez High School  10th     77.337408
                        11th     77.136029
                        12th     77.186567
                        9th      77.438495
 Holden High School     10th     83.429825
                        11th     85.000000
                        12th     82.855422
                        9th      83.787402
 Huang High School      10th     75.908735
                        11th     76.446602
                        12th     77.225641
                        9th      77.027251
 Johnson High School    10th     76.691117
                        11th     77.491653
                        12th     76.863248
                        9th      77.187857
 Pena High School       10th     83.372000
                        11th     84.328125
                        12th     84.121547
                        9th      83.625455
 Rodriguez High School  10th     76.612500
                        11th     76.395626
                        12th     77.690748
                        9th      76.859966
 Shelton High School    10th     82.917411
                        11th     83.383495
                        12th     83.778976
                        9th      83.420755
 Thomas High School     10th     83.087886
                        11th     83.498795
 Name: math_score, dtype: float64]

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [13]:
Readlist_grade_sch = school_and_student_data_complete['reading_score'].groupby([school_and_student_data_complete['school_name'], school_and_student_data_complete['grade']])
read_grade_sch_df = [Readlist_grade_sch.mean().head(50)]
type(read_grade_sch_df)
read_grade_sch_df

# # Creating a new data frame with School Summary
# list4_for_df = {"School_name": (school_name), "9th Grade": (read_grade_sch_df(3)), "10th Grade": (read_grade_sch_df(3)), "11th Grade": (read_grade_sch_df(3)),
#                "12th Grade": (read_grade_sch_df(3))}

# Read_score_grade_df = pd.DataFrame(list4_for_df)
# Read_score_grade_df.head(15)

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [321]:
# dataframe
School_Summary_df_binned = School_Summary_df
# Get min and max per student budget numbers
print(School_Summary_df['Per_Student_Budget'].min())
print(School_Summary_df['Per_Student_Budget'].max())

# Create bins
bins = [575, 599, 624, 649, 674]
# Create labels for these bins
Spending_Ranges = ['575 - 599', '600 - 624', '625 - 649', '650 - 674']

School_Summary_df_binned['Spending_Ranges'] = pd.cut(School_Summary_df_binned['Per_Student_Budget'], bins, labels = Spending_Ranges)
School_Summary_df_binned.head(15)

578.0
655.0

,School_type,School_name,Total_Students,School_Budget,Per_Student_Budget,Average_Math_Score,Average_Reading_Score,Math_Pass%,Reading_Pass%,Overall_Pass%,Spending_Ranges
school_name,,,,,,,,,,,
Bailey High School,District,Bailey High School,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283,625 - 649
Cabrera High School,Charter,Cabrera High School,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769,575 - 599
Figueroa High School,District,Figueroa High School,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476,625 - 649
Ford High School,District,Ford High School,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887,625 - 649
Griffin High School,Charter,Griffin High School,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455,625 - 649
Hernandez High School,District,Hernandez High School,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508,650 - 674
Holden High School,Charter,Holden High School,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166,575 - 599
Huang High School,District,Huang High School,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884,650 - 674
Johnson High School,District,Johnson High School,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172,650 - 674
Pena High School,Charter,Pena High School,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541,600 - 624
Rodriguez High School,District,Rodriguez High School,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247,625 - 649
Shelton High School,Charter,Shelton High School,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107,600 - 624
Thomas High School,Charter,Thomas High School,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012,625 - 649
Wilson High School,Charter,Wilson High School,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567,575 - 599
Wright High School,Charter,Wright High School,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333,575 - 599

In [317]:
grouped_School_Summary_df_binned = School_Summary_df_binned.groupby(['Spending_Ranges'])
grouped_School_Summary_df_binned.head()

,School_type,School_name,Total_Students,School_Budget,Per_Student_Budget,Average_Math_Score,Average_Reading_Score,Math_Pass%,Reading_Pass%,Overall_Pass%,Spending_Ranges
school_name,,,,,,,,,,,
Bailey High School,District,Bailey High School,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283,"(624, 649]"
Cabrera High School,Charter,Cabrera High School,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769,"(575, 599]"
Figueroa High School,District,Figueroa High School,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476,"(624, 649]"
Ford High School,District,Ford High School,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887,"(624, 649]"
Griffin High School,Charter,Griffin High School,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455,"(624, 649]"
Hernandez High School,District,Hernandez High School,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508,"(649, 674]"
Holden High School,Charter,Holden High School,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166,"(575, 599]"
Huang High School,District,Huang High School,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884,"(649, 674]"
Johnson High School,District,Johnson High School,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172,"(649, 674]"
Pena High School,Charter,Pena High School,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541,"(599, 624]"
Rodriguez High School,District,Rodriguez High School,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247,"(624, 649]"
Shelton High School,Charter,Shelton High School,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107,"(599, 624]"
Wilson High School,Charter,Wilson High School,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567,"(575, 599]"
Wright High School,Charter,Wright High School,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333,"(575, 599]"

## Scores by School Size

* Perform the same operations as above, based on school size.

In [341]:
# dataframe
School_Summary_df_binned2 = School_Summary_df
# Get min and max per student budget numbers
print(School_Summary_df['Total_Students'].min())
print(School_Summary_df['Total_Students'].max())

# Create bins
bins = [0, 1499, 2999, 4499, 5999]
# Create labels for these bins
School_Size = ['0 - 1499', '1500 - 2999', '3000 - 4499', '4500 - 5999']

School_Summary_df_binned2['School_Size'] = pd.cut(School_Summary_df_binned2['Total_Students'], bins, labels = School_Size)
School_Summary_df_binned2.head(15)

427
4976

,School_type,School_name,Total_Students,School_Budget,Per_Student_Budget,Average_Math_Score,Average_Reading_Score,Math_Pass%,Reading_Pass%,Overall_Pass%,Spending_Ranges,School_Size
school_name,,,,,,,,,,,,
Bailey High School,District,Bailey High School,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283,625 - 649,4500 - 5999
Cabrera High School,Charter,Cabrera High School,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769,575 - 599,1500 - 2999
Figueroa High School,District,Figueroa High School,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476,625 - 649,1500 - 2999
Ford High School,District,Ford High School,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887,625 - 649,1500 - 2999
Griffin High School,Charter,Griffin High School,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455,625 - 649,0 - 1499
Hernandez High School,District,Hernandez High School,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508,650 - 674,4500 - 5999
Holden High School,Charter,Holden High School,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166,575 - 599,0 - 1499
Huang High School,District,Huang High School,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884,650 - 674,1500 - 2999
Johnson High School,District,Johnson High School,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172,650 - 674,4500 - 5999
Pena High School,Charter,Pena High School,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541,600 - 624,0 - 1499
Rodriguez High School,District,Rodriguez High School,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247,625 - 649,3000 - 4499
Shelton High School,Charter,Shelton High School,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107,600 - 624,1500 - 2999
Thomas High School,Charter,Thomas High School,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012,625 - 649,1500 - 2999
Wilson High School,Charter,Wilson High School,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567,575 - 599,1500 - 2999
Wright High School,Charter,Wright High School,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333,575 - 599,1500 - 2999

## Scores by School Type

* Perform the same operations as above, based on school type

In [340]:
School_Type = school_and_student_data_complete['type'].unique()

# Charter school numbers
charter_school_df = school_and_student_data_complete[school_and_student_data_complete.type=='Charter']
AvMathScoreCharter = charter_school_df['math_score'].mean()
AvReadingScoreCharter = charter_school_df['reading_score'].mean()
MathPass_Charter_df = charter_school_df[charter_school_df.math_score>=70]
MathPassPercentageCharter = ((MathPass_Charter_df['student_name'].count())/(charter_school_df['student_name'].count()) * 100)
ReadingPass_Charter_df = charter_school_df[charter_school_df.reading_score>=70]
ReadingPassPercentageCharter = ((ReadingPass_Charter_df['student_name'].count())/(charter_school_df['student_name'].count()) * 100)
OverallPass_Charter_df = charter_school_df[(charter_school_df.math_score>=70) & (charter_school_df.reading_score>=70)]
OverallPassPercentageCharter = ((OverallPass_Charter_df['student_name'].count())/(charter_school_df['student_name'].count()) * 100)

# District school numbers
District_school_df = school_and_student_data_complete[school_and_student_data_complete.type=='District']
AvMathScoreDistrict = District_school_df['math_score'].mean()
AvReadingScoreDistrict = District_school_df['reading_score'].mean()
MathPass_District_df = District_school_df[District_school_df.math_score>=70]
MathPassPercentageDistrict = ((MathPass_District_df['student_name'].count())/(District_school_df['student_name'].count()) * 100)
ReadingPass_District_df = District_school_df[District_school_df.reading_score>=70]
ReadingPassPercentageDistrict = ((ReadingPass_District_df['student_name'].count())/(District_school_df['student_name'].count()) * 100)
OverallPass_District_df = District_school_df[(District_school_df.math_score>=70) & (District_school_df.reading_score>=70)]
OverallPassPercentageDistrict = ((OverallPass_District_df['student_name'].count())/(District_school_df['student_name'].count()) * 100)

# Create a district Summary data frame
list5_for_df = {"School_Type": [School_Type], "Av_Math_Score": [AvMathScoreCharter], "Av_Reading_Score": [AvReadingScoreCharter], 
                "MathPass%": [MathPassPercentageCharter], "ReadingPass%": [ReadingPassPercentageCharter], "CombinedPass%": [OverallPassPercentageCharter]}

SchoolType_Summary_df = pd.DataFrame(list5_for_df)
SchoolType_Summary_df.head()
# -------------------------------------------------------------------------------------------------------------------------------------------------------------
list5_for_df = {"School_Type": [School_Type], "Av_Math_Score": [AvMathScoreDistrict], "Av_Reading_Score": [AvReadingScoreDistrict], 
                "MathPass%": [MathPassPercentageDistrict], "ReadingPass%": [ReadingPassPercentageDistrict], "CombinedPass%": [OverallPassPercentageDistrict]}

SchoolType_Summary_df = pd.DataFrame(list5_for_df)
SchoolType_Summary_df.head()

,School_Type,Av_Math_Score,Av_Reading_Score,MathPass%,ReadingPass%,CombinedPass%
0,"[District, Charter]",76.987026,80.962485,66.518387,80.905249,53.695878